#main-page {
  background-color: $color-light;
  margin-top: 41px;
  padding-top: 71px;
  border-radius: $radius;
}

a {
  text-decoration: none;
  color: $color-light;
}

.box-top {
  display: flex;
  justify-content: center;
  gap: 7px;
  margin-bottom: 7px;

  .box-order, .box-booking {
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: $radius;
    width: 299px;
    height: 119px;
    align-items: center;
    justify-content: center;
    display: flex;
    position: relative;
  }

  .box-order {
    background: url("../images/home/pizza-1.jpg");
    background-size: cover;
  }

  .box-booking {
    background: url("../images/home/pizza-2.jpg");
    background-size: cover;
  }

  .box-header.link{
    width: 299px;
    height: 120px;
    font-size: 26px;
    letter-spacing: -1px;
    color: #ffffff;
    font-weight: 700;
    //font-family: "Oswald";
    text-transform: uppercase;
    text-align: center;
    margin-top: 35px;
    cursor: pointer;
    &:hover{
      margin-top: 10px;
      transition: all 0.5s;
    }
    &:hover + .hidden-header {
      display: block;
      margin-top: -150px;
      transition: all 0.5s;
    }
  }

  .hidden-header {
    display: none;
    color: #ffffff;
    font-size: 14px;
  }
}

.box-bottom {

  display: flex;
  justify-content: center;
  text-align: center;

  .box-opening-hours {
    display: flex;
    width: 604px;
    height: 120px;
    border-radius: 4px;
    background-color: #ff6b6b;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .opening-days {
    font-size: 14px;
    color: #ffffff;
    font-weight: 300;
    //font-family: "Lato";
    text-align: center;
    margin-top: -25px;
  }
}

.box-header {
  font-size: 26px;
  letter-spacing: -1px;
  color: #ffffff;
  font-weight: 700;
  //font-family: "Oswald";
  text-transform: uppercase;
  text-align: center;
}



